* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html {
    height: auto;
}
header {
    height: 70px;
    background-color: rgb(255, 86, 43);
}
.titulo {
    display: flex;
    justify-content: center;
    font-size: 1rem
} 
.titulo a {
    color: black;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    color: black;
    text-decoration: none;
    border: solid 2px rgb(255, 252, 251);
    border-radius: 20%;
    width: 100px;
    text-align: center;
}

/* main */
main {
    height: 200px;
    background-image: url("/img/background2.png");
    background-size: 100% 100%;
    
}
.titulo-1 {
    display: flex;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.bienvenido {
    display: flex;
    width: 55%;
    justify-content: center;
    font-family: cursive;
    font-weight: 550;
    font-size: 18px;
    padding: 10px;
}
button {
    border-radius: 20%;
    display: flex;
    width: 25%;
    justify-content: center;
}
.boton {
    width: 55%;
    display: flex;
    justify-content: center;
}

article {
    background-color: rgb(250, 230, 205);
    height: 260px;
}
.titulo-2 {
    height: 75px;
    padding: 10 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.parrafo {
    padding: 0 28px;
    text-align: justify;
    font-size: 16px;
}
section {
    background-color: rgb(190, 247, 228);
    height: 1120px;
}
.titulo-3 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.cuadrado {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.parrafo-1 {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}
.amongus {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.parrafo-2 {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}
.circulo {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.parrafo-3 {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}
button {
    width: 150px;
    border-radius: 40%;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 40px;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-1 {
    display: flex;
    justify-content: center;
}
.boton-2 {
    display: flex;
    justify-content: center;
}
.boton-3 {
    display: flex;
    justify-content: center;
}
.cuarto-pedazo {
    background-image: url("/img/bg-grid2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.titulo-4 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    height: 100px;
    align-items: center;
}
.parrafo-4 {
    text-align: justify;
    font-size: 16px;
    height: 100px;
    padding: 10px;
}
.imagen-photo {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.footer a {
    color: white;
    text-decoration: none;
}


/* media queries */
@media (min-width: 567px) {}
@media (min-width: 768px) {
    header {
        display: flex;   
    }
    .titulo {
        width: 60%;
        justify-content: start;
        padding: 20px;
    }
    nav {
        width: 40%;
        align-items: center;
    }
    main {
        height: 380px;
    }
    .titulo-1 {
        width: 60%;
        justify-content: center;
        font-size: 66px;
    }
    .bienvenido {
        font-size: 22px;
    }
    article {
        height: 160px;
    }
    .titulo-2 {
        font-size: 50px;
    }
    .cuarto-pedazo {
        display: flex;
        width: 100%;
        height: auto;
    }
    .caja {
        width: 65%;
    }
    .parrafo-4 {
        padding: 15px;
    }
    .imagen-photo {
        width: 35%;
    }
    section {
        height: 450px;
    }
    .seleciones {
        display: flex;
        justify-content: space-between;
        height: 30px;
    }


}
@media (min-width: 992px) {
    .titulo-1 {
        width: 58%;
        justify-content: center;
        font-size: 83px;
    }
    .bienvenido {
        font-size: 45px;
    }
    .titulo-2 {
        font-size: 45px;
    }
    
    /* .cuadrado {
        display: flex;
    }
    .amongus {
        display: flex;
    }
    .circulo {
        display: flex;
    } */
}
@media (min-width: 1200px) {}
